<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiaohe.wygamsdk">

    <application>
        <activity
            android:name="com.jiaohe.wygamsdk.ui.login.WyLoginActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.jiaohe.wygamsdk.ui.login.WyAccountRegisterActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.jiaohe.wygamsdk.ui.login.WyPhoneRegisterActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
    </application>

</manifest>