<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiaohe.wygamsdk">

    <application>
        <activity
            android:name="com.jiaohe.wygamsdk.ui.login.WyLoginActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.jiaohe.wygamsdk.ui.login.WyAccountRegisterActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.jiaohe.wygamsdk.ui.login.WyPhoneRegisterActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.jiaohe.wygamsdk.ui.login.WyForgetPasswordActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.jiaohe.wygamsdk.ui.auth.WyRealNameAuthActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.jiaohe.wygamsdk.ui.trumpet.WyTrumpetActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/translucentm" />
        <activity
            android:name="com.jiaohe.wygamsdk.ui.trumpet.WyCreateTrumpetActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/bsgamesdk_customDialog" />
        <activity
            android:name="com.jiaohe.wygamsdk.ui.menu.WyMenuWindowActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/translucent" />
        <activity
            android:name="com.jiaohe.wygamsdk.ui.auth.UserAgreementActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/translucent" />
        <activity
            android:name="com.jiaohe.wygamsdk.ui.menu.WyWebActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/translucent" />
        <activity
            android:name="com.jiaohe.wygamsdk.ui.pay.WyWebPayActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/bsgamesdk_customPaymentTranslucentTheme" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <service android:name="com.jiaohe.wygamsdk.widget.floatview.FloatService" />
    </application>

</manifest>